.taskList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
.task {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    flex-basis: calc(25% - 20px);
    max-width: calc(25% - 20px);;
    cursor: pointer;
    position: relative;
    margin: 10px;
}

.task:hover {
    background-color: #f5f5f5;
}

.CheckTrash {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: auto !important;
}
  
.task h4 {
    margin: 0;
}
  
.task p {
margin: 8px 0;
}
  
.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
  
.details span {
    font-weight: bold;
}
    
@media only screen and (max-width: 1200px) {
    .task {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
        margin: 10px;
    }
}

@media only screen and (max-width: 650px) {
    .task {
        flex-basis: 100%;
        max-width: 100%;
        margin: 10px;
    }
}